name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out the repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14'  # Specify your Node.js version

      - name: Install dependencies
        run: npm install

      - name: Run affected tests
        run: npx nx affected:test --base=main

      - name: Build affected projects
        run: npx nx affected:build --base=main --prod

      - name: Run linting
        run: npx nx affected:lint --base=main
